body {
    background: url("../image/index_bg.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    white-space: nowrap;
}

.title-small {
    font-family: "楷体", "KaiTi", "KaiTi_GB2312";
    font-size: 60px;
    color: #1e90ff;
    text-shadow: #4e4e4e 0 0 10px;
}

.title-large {
    font-family: "楷体", "KaiTi", "KaiTi_GB2312";
    font-size: 75px;
    color: #ffffff;
    text-shadow: #000 0 0 10px;
}